body{
    background: #d3d3d3;
    font-family: Verdana;
    color: #444;
}
#header{
    padding: 15px;
    background-color: grey;
    border-bottom: solid 3px dimgrey;
}
#archives_def{
    font-size: 80%;
    color: #393939;
}
#video_table{
    width: 100%;
    border-collapse: collapse;
}
#video_table thead{
    background-color: #f1f1f1;
}
#video_table tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}
#video_table tbody tr:nth-child(odd) {
    background-color: #c7c7c7;
}
#video_table td{
    padding: 7px;
}
#video_table th{
    padding: 6px;
}
#video_table tbody tr:hover{
    background-color: #bababa;
    cursor: pointer;
}